body {
        margin: 0;
        padding: 0;
        background-image: url(https://wallpaperaccess.com/full/2384075.jpg); 
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Arial', sans-serif;
        color: #fff;
    }
    
    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}
    
    
    .questao {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .respostas label {
        display: block;
        margin-bottom: 5px;
    }
    
    #submit {
        margin-top: 20px;
        padding: 10px;
        background-color: #4285f4;
        color: #fff; 
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #results {
        margin-top: 20px;
        font-size: 16px;
        font-weight: bold;
    }
     